/* Reset CSS */
:root {
  --BTN_COLOR: #0085ba;
  --BTN_COLOR_HOVER: #066388;

  --PRIMAY_BTN_COLOR: #d1d1d1;
  --PRIMARY_BTN_COLOR_HOVER: #b9b9b9;
  
  --HEADING-COLOR: #0085ba;
  /* --HEADING-COLOR: #92d7e9; */
}


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


body {
  background-color: #f1f1f1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.App {
  width: 70%;
  margin: auto;
}

/* Utils CSS */

.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 15px;
}
.mt-4 {
  margin-top: 20px;
}
.mt-5 {
  margin-top: 25px;
}


.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 15px;
}
.mb-4 {
  margin-bottom: 20px;
}
.mb-4 {
  margin-bottom: 25px;
}

.p-2 {
  padding: 10px;
}

.m-2 {
  margin: 10px;
}

.border {
  border: 1px solid red;
}






input, select, textarea {
  font-family: inherit;
	outline: 1px solid #e3e4e6;
}
input:focus, select:focus, textarea:focus {
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 7%);
	outline: 1px solid #2196f3;
}

input:disabled {
  background: #e3e4e6;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit], .primary-btn {
  background-color:  var(--BTN_COLOR);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: var(--BTN_COLOR_HOVER);
}

.primary-btn {
  background-color:  var(--PRIMAY_BTN_COLOR);
  color: black;
}

.primary-btn:hover {
  background-color:  var(--PRIMARY_BTN_COLOR_HOVER);
}



.container {
  border-radius: 5px;
  background-color: #fff;
  padding: 0px 20px 5px;
}

.col-25 {
  float: left;
  width: 25%;
}

.col-75 {
  float: left;
  width: 75%;
}

.row {
  margin-bottom: 20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.step-two-lastrow {
  display: flex;
  justify-content: space-between;
}
.step-two-lastrow .right{
  display: flex;
  gap: 10px;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .App {
    width: 90%;
    margin-bottom: 20px;
  }
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .heading-one {
    text-align: center;
  }
  .row {
    margin-bottom: 0;
  }

  .row label {
    padding: 12px 12px 6px 0
  }

  

  .row:last-child{
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .step-two-lastrow {
    margin-bottom: 20px;
  }
  .step-two-lastrow, .step-two-lastrow .right {
    width: 100%;
    display: inline-block;
  }
  .primary-btn {
    width: 100%;
    margin-bottom: 10px;
  }
}


.heading-one {
  font-size: 40px;
  font-weight: 400;
  margin: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
  color: var(--HEADING-COLOR);
}

hr.line-below-heading {
  margin: 5px 0px 10px 0px;
  border-top: 1px solid var(--HEADING-COLOR);
  
}



.input-error {
  border: none!important;
  outline: 1px solid red;
}

.input-error-msg {
  font-size: 14px;
  color: red;
}


/* Step 3  Styles */
table, th, td {
  border: 1px solid #5d8b9c;
  border-collapse: collapse;
}
th {
	background: #5d8b9c;
  color: white;
}
caption {
	padding: 5px;
  font-size: 25px;
}
th, td {
  padding: 5px;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #eee;
}